# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\java_like_sql\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
